%h2 Forgot Password
= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do
	= label :user, :username, 'username or email'
	= text_field :user, :username
	= show_field_error(@user, :username)
	<br>
	= submit_tag 'Send Password Reset Instructions'