%h2 Account Settings
= form_for @user, :as => :user, :url => password_reset_path, :method => :put do
  #{@user.username} has requested a password reset
  Please enter your new password:

  = label :user, :new_password, 'new password'
  = password_field :user, :new_password
  = show_field_error(@user, :new_password)

  = hidden_field :user, :username
  = label :user, :new_password_confirmation, 'password confirmation'
  = password_field :user, :new_password_confirmation
  = show_field_error(@user, :new_password_confirmation)

  = submit_tag 'Update'