-#  This file is app/views/receipts/index.html.haml
%h1 All Receipts

%table#receipts
  %thead
    %tr
      //%th Purchase Date
      %th{:class => @date_header}= link_to 'Purchase Date', receipts_path(:sort => 'date'), :id => 'purchase_date_header'
      %th{:class => @cost_header}= link_to 'Cost', receipts_path(:sort => 'cost'), :id => 'cost_header'
      //%th Cost
      %th Store
      %th Payment Type
      %th More Information
  %tbody
    - @receipts.each do |receipt|
      %tr
        %td= receipt.date.strftime("Purchase made on %B %-d, %Y at %l:%M.%S %P")
        %td= "$#{receipt.cost}"
        %td= receipt.store
        %td= "xxxx-xxxx-xxxx-#{receipt.payment}"
        %td= link_to "More about #{receipt.title}", receipt_path(receipt)

= link_to 'Add new receipt', new_receipt_path
