-#  This file is app/views/receipts/index.html.haml
%h1 All Receipts



%table#receipts
  %thead
    %tr
      //%th Purchase Date
      %th{:class => @date_header}= link_to 'Purchase Date', if (params[:sort] == 'dateasc') then receipts_path(:sort => 'datedesc') else receipts_path(:sort => 'dateasc')end, :id => 'purchase_date_header'
      //%th Cost
      %th{:class => @cost_header}= link_to 'Cost', if (params[:sort] == 'costasc') then receipts_path(:sort => 'costdesc') else receipts_path(:sort => 'costasc')end, :id => 'cost_header'
      %th Store
      %th Payment Type
  %tbody
    - @receipts.each do |receipt|
      %tr
        %td= link_to receipt.date.strftime("Purchase made on %B %-d, %Y at %l:%M.%S %P"), receipt_path(receipt)
        %td= "$%.2f" % receipt.cost
        %td{:class => @store_header}= link_to receipt.store, receipts_path(:sort => 'store', :sto => receipt.store), :id => 'store_header'
        %td{:class => @payment_header}= link_to (if (receipt.payment.downcase == "cash") then "Cash" else "xxxx-xxxx-xxxx-#{receipt.payment}" end), receipts_path(:sort => 'payment', :pay => receipt.payment), :id => 'payment_header'

&nbsp
= link_to 'All Receipts', receipts_path(:sort => 'date', :id => 'purchase_date_header')
&nbsp
= link_to 'Add new receipt', new_receipt_path