%h2 Create New Receipt

= form_tag receipts_path, :method => :post do

  = label :receipt, :title, 'Title'
  = text_field :receipt, :title

  = label :receipt, :date, 'Date'
  = datetime_select :receipt, :date
 
  = label :receipt, :cost, 'Cost'
  = text_field :receipt, :cost

  = label :receipt, :payment, 'Payment Method'
  = text_field :receipt, :payment

  = label :receipt, :store, 'Store'
  = text_field :receipt, :store
  <br>
  = submit_tag 'Save Changes'