-# in app/views/receipts/show.html.haml

%h2 Details about #{@receipt.title}

%ul#details
  %li
    Cost: 
    = "$#{@receipt.cost}"
  %li
    Purchased on:
    = @receipt.date.strftime("%B %d, %Y")
    at 
    = @receipt.store

= button_to 'Delete', receipt_path(@receipt), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to receipt list', receipts_path